## MAC OS
.DS_Store
#WHY WON'T THIS WORK!?

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
.bundle
tmp/**/*
tmp/*
log/*.log
Gemfile.lock
db/*.sqlite3
test.db
capybara*.html