@mixin container
  background: url(../images/bg.gif) repeat #000000
  padding: 0
  margin: 0px auto auto auto
  width: 821px

@mixin grid($columns)
  display: inline
  float: left
  position: relative
  padding-left: 10px
  padding-right: 10px
  width: (960 / 12 * $columns) - 20 + px

@mixin box_border
  -moz-border-radius: 4px 4px 4px 4px
  -moz-box-shadow: 2px 2px 8px #BBBBBB, -2px 0 8px #BBBBBB
  -webkit-border-radius: 4px 4px 4px 4px
  -webkit-box-shadow: 2px 2px 8px #BBBBBB, -2px 0 8px #BBBBBB

body
  @include container

  #main_container
    width: 821px
    height: auto
    margin: auto
    padding: 0px


    #header
      height: 135px
      margin: 0px
      padding: 0px
      background: url(../images/header_bg.gif) no-repeat center top

    #nav
      height: 42px
      margin: 0px
      background: url(../images/menu_bg.gif) no-repeat left

    #nav ul
      list-style: none
      padding: 0 0 0 15px
      margin: 0px

    #nav ul li
      display: inline

    #nav ul li a
      float: left
      height: 42px
      border: none
      padding: 0 15px 0 15px
      text-decoration: none
      color: #fff
      line-height: 42px
      font-size: 14px

    #nav ul li.selected a
      float: left
      height: 42px
      border: none
      padding: 0 15px 0 15px
      text-decoration: none
      color: #fff
      line-height: 42px
      font-size: 14px
      background: url(../images/menu_bullet.gif) no-repeat bottom center

    #nav ul li a:hover
      background: url(../images/menu_bullet.gif) no-repeat bottom center


    #center_content
      width: 821px
      height: auto
      clear: both
      padding: 25px 0 30px 0
      background-color: #e9e5e2

      #main
        width: 500px
        float: left
        padding: 10px 0 10px 10px
        background-color: #e9e5e2
        #main_content
          width: 496px
          height: auto
          background: url(images/welcome_box.gif) no-repeat center
          padding: 0px

      #sidebar
        width: 300px
        float: left
        padding: 10px 0 10px 0px
        background-color: #e9e5e2

        #user_box
          width: 278px
          height: 144px
          padding: 15px 0 0 10px
          background: url(../images/text_box.gif) no-repeat center
          background-position: 0px 0px

    #footer
      width: 821px
      height: 50px
      clear: both
      color: #837d7b
      padding: 20px 0 0 0

    #footer a
      color: #837d7b
      padding: 0 8px 0 8px
      text-decoration: none


