body {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  background: gray; }
  body #nav {
    background: white; }
    body #nav li {
      display: inline;
      list-style: none; }
  body #content {
    display: inline;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    width: 460px;
    background: white; }
  body #sidebar {
    display: inline;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
    background: white; }
  body #footer {
    background: white; }
