.back {
  width: 12px;
  height: 14px;
  background-color: #6dff5e;
  margin-top: 0px;
  margin-left: 8px; }

.point.up {
  border-width: 0 14px 16px;
  border-style: solid;
  border-color: #6dff5e transparent;
  margin-top: 0px;
  width: 0px;
  padding: 0px; }

.point.down {
  border-width: 16px 14px 0;
  border-style: solid;
  border-color: #6dff5e transparent;
  margin-top: 0px;
  width: 0px;
  padding: 0px; }

.ab {
  margin-top: 5px;
  width: 28px;
  height: 30px;
  padding: 0px;
  border: 1px solid black; }

.ab:hover .point.down, .ab:hover .point.up {
  border-color: red transparent; }
.ab:hover .back {
  background-color: red; }

.arrows {
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
  border: 1px solid black; }

ul.arrowlistfuck {
  padding: 0px;
  margin: 0px;
  list-style: none; }
  ul.arrowlistfuck li.inline {
    display: inline;
    border: 1px solid black; }
