%ul
  %li
    %a{:href => root_path} Dashboard
  %li
    %a{:href => '#'} Hot
  %li
    %a{:href => '#'} New
  %li
    %a{:href => new_song_path} Submit
  %li
    %a{:href => playlists_path} Playlists
  %li
    %a{:href => songs_path} Song Index
  %li
    %a{:href => '#'} FAQ

= render :partial => 'shared/user_box'
